.rilink-icon {
	width: 16px;
	position: relative;
	height: 16px;
	overflow: hidden;
	flex-shrink: 0;
}
.recroomme {
	position: relative;
	letter-spacing: -0.03em;
	 
}
.rilink-parent {
	align-self: stretch;
	position: relative;
	border-radius: 150px;
	background-color: #000;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	padding: 5px 10px;
	box-sizing: border-box;
	gap: 7px;
	text-align: center;
	font-size: 14.09px;
	color: #fff;
	font-family: 'Helvetica Neue';

}
.iphone-13-mini-1-inner {
	position: absolute;
	top: 249px;
	left: calc(50% - 141.5px);
	width: 207px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14.09px;
	color: #fff;
	font-family: 'Helvetica Neue';
}
.overview {
	align-self: stretch;
	position: relative;
	font-size: 18.79px;
	letter-spacing:-0.03em;
	font-family: 'Instrument Serif';
	color: black
}
.science-fiction {
	position: relative;
	letter-spacing: -0.01em;
	font-weight: 500;
}
.science-fiction-wrapper {
	width: 84px;
	border-radius: 100px;
	background-color: #84af65;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5px 8px;
	
}
.fantasy-wrapper {
	border-radius: 100px;
	background-color: #84af65;
	height: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 2px 13px;
	box-sizing: border-box;
}
.alternative-rock-wrapper {
	width: 50px;
	border-radius: 100px;
	background-color: #84af65;
	height: 20px;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 2px 13px;
	box-sizing: border-box;
}
.frame-parent {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 7px;
	font-size: 10.86px;
	color: #fff;
	font-family: 'PP Neue Montreal';
}
.overview-parent {
	align-self: stretch;
	border-radius: 10px;
	background-color: #eae7e3;
	height: 151px;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 13px 16px;
	box-sizing: border-box;
	gap: 10px;
	font-size:12px;
	color: #fff
	f
}
.iphone-13-mini-1-child {
	position: absolute;
	top: 309px;
	left: calc(50% - 145.5px);
	width: 284px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 30px;
}
.tv-shows {
	position: relative;
	font-size: 30px;
	font-family: 'Instrument Serif';
	color: #000;
}
.friends {
	position: absolute;
	top: 24px;
	left: 10px;
	letter-spacing: -0.03em;
	width: 240px;
}
.image {
	width: 284px;
	position: relative;
	border-radius: 10px;
	height: 130px;
	overflow: hidden;
	flex-shrink: 0;
	background-image: url('https://i.pinimg.com/474x/71/55/76/7155762bf654836daa3d7ebaa235a1d1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.image1 {
	width: 130px;
	position: relative;
	border-radius: 10px;
	height: 130px;
	overflow: hidden;
	flex-shrink: 0;
	background-image: url('https://i.pinimg.com/474x/3e/e5/56/3ee556d86a48c525f5b9ce1b16831887.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border: white;
}

.image1-wrapper{
	display: flex;                  /* Use flexbox layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center;            /* Center items vertically */
    margin: 10px 0;                /* Add some vertical spacing if needed */

}

.more-tv-shows {
	align-self: stretch;
	position: relative;
	font-size: 18.79px;
	letter-spacing: -0.03em;
	font-family: 'Instrument Serif';
	color: #000;
}
.thats-so-true {
	position: relative;
	letter-spacing: -0.01em;
	font-weight: 500;
}
.thats-so-true-gracie-abrams-wrapper {
	border-radius: 100px;
	background-color: #000;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5px 8px;
}
.frame-div {
	border-radius: 100px;
	background-color: #000;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 5px 8px;
}
.more-tv-shows-parent {
	width: 291px;
	border-radius: 10px;
	background-color: #eae7e3;
	overflow: hidden;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 13px 16px;
	box-sizing: border-box;
	gap: 10px;
	font-size: 12px;
	color: #fff;
	font-family: 'PP Neue Montreal';
}
.tv-shows-parent {
	position: absolute;
	top: 500px;
	left: calc(50% - 145.5px);
	width: 291px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 29px 31px;
	color: #f5f4f0;
	
}
.songs {
	position: relative;
	font-size: 30px;
	color: #000;
}
.sabrina-carpenter {
	position: absolute;
	top: 67px;
	left: 24px;
	font-size: 14.58px;
	letter-spacing: -0.03em;
	line-height: 15.3px;
	font-family: 'PP Neue Montreal';
	color: #fff;
}
.solo-dates {
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 55px);
	letter-spacing: -0.03em;
	line-height: 35px;
	display: inline-block;
	width: 110px;
}
.fig {
	position: absolute;
	top: 67px;
	left: 11px;
	font-size: 14.58px;
	letter-spacing: -0.03em;
	line-height: 15.3px;
	font-family: 'PP Neue Montreal';
	color: #fff;
}
.apt {
	position: absolute;
	top: 30px;
	left: 10px;
	letter-spacing: -0.03em;
	line-height: 35px;
	display: inline-block;
	width: 110px;
}
.rose-ft-bruno {
	position: absolute;
	top: 67px;
	left: 10px;
	font-size: 14.58px;
	letter-spacing: -0.03em;
	line-height: 15.3px;
	font-family: 'PP Neue Montreal';
	color: #fff;
}
.songs-parent {
	position: absolute;
	top: 1600px;
	left: calc(50% - 143.5px);
	width: 284px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 20px 24px;
	color: #f5f4f0;
}
.movies-parent {
	position: absolute;
	top: 1050px;
	left: calc(50% - 143.5px);
	width: 284px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 20px 24px;
	color: #f5f4f0;
}
.iphone-13-mini-1-item {
	display: block;
	margin-left: auto;
	margin-right: auto;
	  width: 179px;
	height: 155px;
}
.my-rec-room {
	position: absolute;
	top: 177px;
	left: calc(50% - 140.5px);
	font-size: 50px;
	letter-spacing: -0.03em;
	text-align: left;
	line-height: 61.29px;
	display: inline-block;
	width: 238px;
}
.created-for-hackru {
	margin: 0;
}
.created-for-hackru-container {
	position: absolute;
	top: 2408px;
	left: calc(50% - 47.5px);
	font-size: 13.73px;
	text-align: center;
}
.iphone-13-mini-1 {
	width: 100%;
	position: relative;
	background-color: #f5f4f0;
	height: 2467px;
	overflow: hidden;
	text-align: left;
	font-size: 33.34px;
	color: #000;
	font-family: 'Instrument Serif';
}

.fa-link {
	color: white;
}

.queen-of-the {
    position: absolute;
    top: calc(50% - 52px);
    left: 10px;
    letter-spacing: -0.03em;
    line-height: 35px;
    display: inline-block;
    width: 120px;
}


.text-truncate {
    display: -webkit-box;             /* Enables the flex container model */
    -webkit-line-clamp: 3;            /* Limits text to 3 lines */
    -webkit-box-orient: vertical;     /* Makes the box orient vertically */
    text-overflow: ellipsis;          /* Adds ellipses for overflowed text */
	overflow: hidden;
}

.blur {
         background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(${href});
         background-size: cover;
         background-position: center;
         min-height: 150px;
         position: relative;
         border-radius: 8px;
         overflow: hidden;

}

