.qsAndCategories {
  font-size: 60px;
  text-align: center;
}

.fa-comment {
  font-size:50px;
}

.introButton {
  margin-top: 100px;
  text-decoration-color: white;
  padding: 10px 20px;           /* Space around the text */
  background-color: #4CAF50;    /* Button color */
  color: white;                 /* Text color */
  border: none;                 /* Remove default border */
  border-radius: 25px;          /* Rounds the button */
  font-size: 16px;              /* Font size */
  cursor: pointer;              /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth color change on hover */
}

a {
  text-decoration: none;
  background-color: none;
}

/*.thats-so-true-gracie-abrams-wrapper {
  border-radius: 100px;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
}

.recroommesophdelrosario {
  position: relative;
  letter-spacing: -0.03em;
}


.frame-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 7px;
    font-size: 10.86px;
    color: #fff;
    font-family: 'PP Neue Montreal';
}

.overview-parent {
  align-self: stretch;
  border-radius: 10px;
  background-color: #eae7e3;
  height: 151px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 19px;
  box-sizing: border-box;
  gap: 25px;
}


.overview {
  align-self: stretch;
  position: relative;
  line-height: 17.52px;
}

.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 7px;
  font-size: 10.86px;
  color: #fff;
  font-family: 'PP Neue Montreal';
}
*/

.txtingb{
  text-align: left;
  font-size: 100px;
  color: black;
  font-family: 'Instrument Serif';
  text-decoration: none;
}

.grey-rounded-box {

  background-color: #d3d1ce; /* Sets the background color to grey */
  border-radius: 15px;    /* Sets the border radius for rounded corners */
  padding: 20px;
  display: block;
  margin:10px;
}